<div style="width: 800px; margin-left: 400px" id="charts" >
    <!-- <div class="container">
      <br>
    <label>
      Start date:
    </label>
    <input type="date" #Name="ngModel" [(ngModel)]="startDate">
    <br>
    <label>
      End date:
    </label>
    <input type="date" #Name="ngModel" [(ngModel)]="endDate">
    <br>
    <button (click)="showAllCharts()">Show charts</button>
    <br>
    <button (click)="openPdf()">Generate report</button>
    </div>
     -->

      <h2>Stats</h2>

      <canvas
        id="barChart"
        baseChart
        [datasets]="barChartData"
        [labels]="names"
        [options]="barChartOptions"
        [plugins]="barChartPlugins"
        [legend]="barChartLegend"
        [chartType]="barChartType"
        [colors]="barChartColors"
      >
      </canvas>
    <!-- <h2>Winning offers($)</h2>
    <canvas
      id="charts2"
      baseChart
      [datasets]="barChartData1"
      [labels]="tenderNames"
      [options]="barChartOptions"
      [plugins]="barChartPlugins"
      [legend]="barChartLegend"
      [chartType]="barChartType"
    >
    </canvas>
    <h2>Earning $</h2>
    <canvas
      id="charts3"
      baseChart
      [data]="doughnutChartData"
      [labels]="names"
      [chartType]="doughnutChartType"
      [colors]="doughnutChartColor1"
  
    >
    </canvas>
    <h2>Winning percentage (%)</h2>
    <canvas
      id="charts4"
      baseChart
      [data]="doughnutChartData1"
      [labels]="names"
      [chartType]="doughnutChartType"
      [colors]="doughnutChartColor1"
    >
    </canvas> -->
      
  </div>
  

