<div class="feedback-table">
    <div>
        <h2>Feedback requests</h2>
    </div>
    <div>
        <table>
            <tr>
              <th>User</th>
              <th>Date</th>
              <th>Comment</th>
              <th>Comment's state</th>
              <th></th>
            </tr>
            <ng-container *ngFor="let feedback of feedbacks">
            <tr>
                <div *ngIf="!feedback.anonymous">
                  <td>{{feedback.personId}}</td>
                </div>
                <div *ngIf="feedback.anonymous">
                  <td>Anonymous</td>
                </div>
                <td>{{feedback.date}}</td>
                <td>{{feedback.text}}</td>
                <td>{{GetFeedbackState(feedback)}}</td>
                <div *ngIf="feedback.publish">
                  <div *ngIf="GetFeedbackState(feedback) == 'pending'">
                    <button (click) = "approveRequest(feedback)">Approve</button>
                    <button (click) = "rejectRequest(feedback)">Reject</button>
                  </div>
                  <div *ngIf="GetFeedbackState(feedback) != 'pending'">
                    <button (click) = "withdrawAction(feedback)">Withdraw action</button>
                  </div>
                </div>
                <div *ngIf="!feedback.publish">
                  <td>Unpublishable</td>
                </div>
              </tr>
            </ng-container>
          </table>
    </div>
</div>