<div class="card text-center">
    <div class="card-header">
        <b></b>
    </div>
    <div class="card-body">
        <form ngNativeValidate>
          <input type="hidden" name="Id">
            <div class="form-group">
                <label>Pharmacy:</label>
                <select class="form-control" id="pharmacyName"  name="pharmacyName" required >
                  <option>
                  </option>
                </select>
                
              </div><br/>
              <div class="form-group">
                <label for="exampleFormControlTextarea1">Medication name:</label>
                <select class="form-control" id="medicationName"  name="medicationName" required >
                    <option>
                    </option>
                  </select>
               </div><br/>
            <button type="submit" class="btn">
                Submit
            </button>
          </form>
    </div>
</div>  