<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">

<div class="sidebar-wrapper">
    <div class="logo">
        <a routerLink="/landingpage" class="simple-text" >
            Hospital 
        </a>
    </div>
    <ul class="nav responsive-nav">
        <li class="separator hidden-lg hidden-md" *ngIf="isMobileMenu()"></li>
        <li routerLinkActive="active" *ngFor="let menuItem of menuItems" class="{{menuItem.class}}">
            <a  [routerLink]="[menuItem.path]">
                <i class="{{menuItem.icon}}"></i>
                <p *ngIf = 'menuItem.title != "NOTIFICATIONS"'>{{menuItem.title}}</p>
                <p *ngIf = 'menuItem.title == "NOTIFICATIONS" && !this.exists'>{{menuItem.title}}</p>
                <p *ngIf = 'menuItem.title == "NOTIFICATIONS" && this.exists'>{{menuItem.title}} <i class="far fa-bell"></i></p>
            </a>
        </li>
    </ul>
</div>