<div>
    <div class="card text-center">
        <div class="card-header">
            <b>Urgent procurement</b>
        </div>
        <div class="card-body">t
            <form ngNativeValidate>
            <input type="hidden" name="Id">
                <div class="form-group">
                    <label>Choose medication:</label>
                    <select class="form-control" id="pharmacyName"  name="pharmacyName" required >
                        <option>
                            Lek 1
                        </option>
                        <option>
                            Lek 2
                        </option>
                        <option>
                            Lek 3
                        </option>
                    </select>
                </div><br/>
                <div class="form-group">
                    <label>Enter amount:</label>
                    <input class="form-control" type="text">
                </div>
            </form>
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <form #form = "ngForm" (submit) = "onSubmit(form)" ngNativeValidate>
                <div class="form-group">
                    <label>Enter city name:</label> &nbsp;
                    <input type="text" [(ngModel)] = "_cityFilter" name="_cityFilter"/> &nbsp;
                </div>
                <div class="form-group">
                    <label>Enter address:</label> &nbsp;
                    <input type="text" [(ngModel)] = "_addressFilter" name="_addressFilter"/> &nbsp;
                </div>
                <button class="btnSearch">search</button>
            </form>
        </div>
    </div>
    <div  class="card text-center" *ngFor='let pharmacy of filteredPharmacies; let i = index'>
        <div class="card-header2">
            <b>Pharmacy "{{pharmacy.pharmacyName}}"</b>
        </div>
        <div class="card-body">
            <label><b>Address:</b> {{pharmacy.address}}</label> <br/>
            <label><b>City:</b> {{pharmacy.city}}</label> <br/>
            <button class="btnCheck">Check if available</button>
        </div>
    </div>
</div>