
    <div class="allCont">
      
      <div class="main-container">
          
          <form >
              <div class= "search-container">
              Search equipment: 
              <input type="text" >
              <input type="submit" [routerLink]="['/home/app-search-equipment']"  >
            </div>
              </form>
        
        <svg xmlns="http://www.w3.org/2000/svg" width="1200" height="800" viewBox="0 0 350 350" version="1.1">                
        <rect x="50" y="20" width="300" height="200" stroke="black" fill="rgb(230,230,250)" stroke-width="6"></rect> 
        <image class="rectClass"   [routerLink]="['/home/app-secondfloor']"  x="325" y="120"  href="/assets/images/32356.png" width="19" height="19"/>
        
        <rect   class="rectClass"  x="57" y="27" width="80" height="80" fill="rgb(255,99,71)"  stroke="#000000" stroke-width="4" (click)="showRoom(1)" ></rect>

        <text class="rectClass"  x="60" y="68" font-family="Verdana" font-size="10" fill="rgba(255,255,255,255)" >{{getRoomById(1).name}}
        </text>
        <text class="rectClass"  x="80" y="108" font-family="Verdana" font-size="5" fill="rgba(255,255,255,255)" >Entrance
        </text>
    
    

        <rect class="rectClass"  x="157" y="27" width="80" height="80" fill="rgb(255,0,255)" stroke="#000000" stroke-width="4" (click)="showRoom(2)"></rect>
        <text class="rectClass" x="159" y="68" font-family="Verdana" font-size="10" fill="rgba(255,255,255,255)" >{{getRoomById(2).name}} </text>
        <text class="rectClass"  x="180" y="108" font-family="Verdana" font-size="5" fill="rgba(255,255,255,255)" >Entrance</text>
    

        <rect class="rectClass"  x="257" y="27" width="80" height="80" fill="rgb(255,215,0)" stroke="#000000" stroke-width="4" (click)="showRoom(3)"  ></rect>
        <text class="rectClass"  x="265" y="68" font-family="Verdana" font-size="10" fill="rgba(255,255,255,255)" >{{getRoomById(3).name}}
        </text>
        <text class="rectClass"  x="280" y="108" font-family="Verdana" font-size="5" fill="rgba(255,255,255,255)" >Entrance
        </text>

        <rect class="rectClass"  x="57" y="129" width="80" height="80" fill="rgb(255,140,0)"  stroke="#000000" stroke-width="4" (click)="showRoom(4)" ></rect>
        <text class="rectClass"  x="68" y="170" font-family="Verdana" font-size="10" fill="rgba(255,255,255,255)" >{{getRoomById(4).name}}
        </text>
          
        <text class="rectClass"  x="67" y="131" font-family="Verdana" font-size="5" fill="rgba(255,255,255,255)" >Entrance
        </text>
        
        <rect class="rectClass"  x="150" y="142" width="60" height="60" fill="rgb(105,105,105)" stroke="#000000" stroke-width="3" (click)="showRoom(5)" ></rect>
        
        <text class="rectClass"  x="155" y="170" font-family="Verdana" font-size="10" fill="rgba(255,255,255,255)" >{{getRoomById(5).name}}  
        </text>
        <text class="rectClass"  x="170" y="144" font-family="Verdana" font-size="4" fill="rgba(255,255,255,255)" >Entrance
        </text>
        
        <rect class="rectClass"  x="215" y="142" width="60" height="60" fill="rgb(255,0,0)" stroke="#000000" stroke-width="3" (click)="showRoom(6)" ></rect >
          
        <text class="rectClass"  x="218" y="170" font-family="Verdana" font-size="10" fill="rgba(255,255,255,255)" >{{getRoomById(6).name}}
        </text>
        <text class="rectClass"  x="235" y="144" font-family="Verdana" font-size="4" fill="rgba(255,255,255,255)" >Entrance
        </text>
        
        <rect class="rectClass"  x="279" y="142" width="60" height="60" fill="rgb(0,0,255)" stroke="#000000" stroke-width="3" (click)="showRoom(7)" ></rect>
        
        <text class="rectClass"  x="278" y="170" font-family="Verdana" font-size="9" fill="rgba(255,255,255,255)" >{{getRoomById(7).name}}
        </text>
        <text class="rectClass"  x="295" y="144" font-family="Verdana" font-size="4" fill="rgba(255,255,255,255)" >Entrance
        </text>
        
      </svg>
      
    </div>

    <div *ngIf="isShown1"  style="width:500px;height: 50px;border:5px solid #000;"  class="side-container">
        
      {{getRoomById(1).name}}
      <br>
      <br>
     Description: {{getRoomById(1).description}}
     <br>
     Doctor:{{getRoomById(1).doctor.name + ' ' + getRoomById(1).doctor.surname}} 
     <br>
     Working Hours: {{getRoomById(1).workHour}}
     <br>
     <br>
     Equipments:
     <table *ngFor='let equipment of getEquipmentByRoomId(1)' >

      <tr>
        <td class="Headline">name</td>
        <td class="Headline">amount</td>
       </tr>
        <tr>
          <td>{{equipment.name}}</td>
          <td>{{equipment.amount}}</td>
          <td><button>Change</button></td>
        </tr>
    
        
      </table>
    
    </div>
    <div *ngIf="isShown2"  style="width:500px;height: 50px;border:5px solid #000;"  class="side-container">
    
      {{getRoomById(2).name}}
      <br>
      <br>
     Description: {{getRoomById(2).description}}
     <br>
     Doctor:{{getRoomById(2).doctor.name + ' ' + getRoomById(2).doctor.surname}} 
     <br>
     Working Hours: {{getRoomById(2).workHour}}
     <br>
     <br>
     Equipments:
     <table *ngFor='let equipment of getEquipmentByRoomId(2)' >
      <tr>
        <td class="Headline">name</td>
        <td class="Headline">amount</td>
       </tr>
      <tr>
        <td>{{equipment.name}}</td>
        <td>{{equipment.amount}}</td>
        <td><button>Change</button></td>
      </tr>
  
      
    </table>
    
  
    </div>
    <div *ngIf="isShown3"  style="width:500px;height: 50px;border:5px solid #000;"  class="side-container">
    
      {{getRoomById(3).name}}
      <br>
      <br>
     Description: {{getRoomById(3).description}}
     <br>
     Doctor:{{getRoomById(3).doctor.name + ' ' + getRoomById(3).doctor.surname}} 
     <br>
     Working Hours: {{getRoomById(3).workHour}}
     <br>
     <br>
     Equipments:
     <table *ngFor='let equipment of getEquipmentByRoomId(3)' >
      <tr>
        <td class="Headline">name</td>
        <td class="Headline">amount</td>
       </tr>
      <tr>
        <td>{{equipment.name}}</td>
        <td>{{equipment.amount}}</td>
        <td><button>Change</button></td>
      </tr>
  
      
    </table>
    </div>
    <div *ngIf="isShown4"  style="width:500px;height: 50px;border:5px solid #000;"  class="side-container">
    
      {{getRoomById(4).name}}
      <br>
      <br>
     Description: {{getRoomById(4).description}}
    <br>
    <br>

    Equipments:
    <table *ngFor='let equipment of getEquipmentByRoomId(4)' >
      <tr>
        <td class="Headline">name</td>
        <td class="Headline">amount</td>
       </tr>
     <tr>
       <td>{{equipment.name}}</td>
       <td>{{equipment.amount}}</td>
       <td><button>Change</button></td>
     </tr>
    </table>

    </div>
    <div *ngIf="isShown5"  style="width:500px;height: 50px;border:5px solid #000;"  class="side-container">
    
      {{getRoomById(5).name}}
     
    </div>
    <div *ngIf="isShown6"  style="width:500px;height: 50px;border:5px solid #000;"  class="side-container">
    
      {{getRoomById(6).name}}
      
    
    </div>
    <div *ngIf="isShown7"  style="width:500px;height: 50px;border:5px solid #000;"  class="side-container">
    
      {{getRoomById(7).name}}
      
    
  </div>
    

    
