<div class="allCont">
  <div class="main-container">
      
  
  
      <svg xmlns="http://www.w3.org/2000/svg" width="1200" height="800" viewBox="0 0 350 350" version="1.1">
          
          <rect x="50" y="20" width="300" height="200" stroke="black" fill="rgb(230,230,250)" stroke-width="6"></rect> 
         
      <image class="rectClass" [routerLink]="['/home/app-firstfloor']"  x="325" y="120"  href="/assets/images/down.png" width="19" height="19"/>

      <rect class="rectClass"  x="57" y="27" width="120" height="80" fill="rgb(0,0,205)"  stroke="#000000" stroke-width="4" (click)="showRoom(8)"></rect>
       <text class="rectClass"  x="72" y="68" font-family="Verdana" font-size="10" fill="rgba(255,255,255,255)" >{{getRoomById(8).name}}
          </text>
          <text class="rectClass"  x="80" y="108" font-family="Verdana" font-size="5" fill="rgba(255,255,255,255)" >Entrance
                  </text>
       <rect class="rectClass"  x="197" y="27" width="120" height="80" fill="rgb(0,0,205)" stroke="#000000" stroke-width="4" (click)="showRoom(9)" ></rect>
        <text class="rectClass"  x="210" y="68" font-family="Verdana" font-size="10" fill="rgba(255,255,255,255)" >{{getRoomById(9).name}} 
          </text>
          <text class="rectClass"  x="220" y="108" font-family="Verdana" font-size="5" fill="rgba(255,255,255,255)" >Entrance
                  </text>
      
      
      <rect class="rectClass"  x="57" y="129" width="80" height="80" fill="rgb(0,0,205)"  stroke="#000000" stroke-width="4" (click)="showRoom(10)" ></rect>

       <text class="rectClass"  x="58" y="170" font-family="Verdana" font-size="8" fill="rgba(255,255,255,255)" >{{getRoomById(10).name}} 
          </text>
          <text class="rectClass"  x="67" y="131" font-family="Verdana" font-size="5" fill="rgba(255,255,255,255)" >Entrance
                  </text>

          <rect class="rectClass"  x="150" y="129" width="80" height="80" fill="rgb(0,255,255)" stroke="#000000" stroke-width="4" (click)="showRoom(11)" ></rect>

        <text class="rectClass"  x="154" y="170" font-family="Verdana" font-size="9" fill="rgba(255,255,255,255)" >{{getRoomById(11).name}}   
          </text>
          <text class="rectClass"  x="171" y="131" font-family="Verdana" font-size="5" fill="rgba(255,255,255,255)" >Entrance
                  </text>
      
       <rect class="rectClass"  x="240" y="129" width="80" height="80" fill="rgb(124,252,0)" stroke="#000000" stroke-width="4" (click)="showRoom(12)" ></rect>

        <text class="rectClass"  x="250" y="170" font-family="Verdana" font-size="10" fill="rgba(255,255,255,255)" >{{getRoomById(12).name}}
          </text>
          <text class="rectClass"  x="261" y="131" font-family="Verdana" font-size="5" fill="rgba(255,255,255,255)" >Entrance
                  </text>

      
      </svg>
  </div>
  <div *ngIf="isShown1"  style="width:500px;height: 50px;border:5px solid #000;"  class="side-container">
      
    {{getRoomById(8).name}}
    <br>
    <br>
   Description: {{getRoomById(8).description}}
   <br>
   Doctor:{{getRoomById(8).doctor.name + ' ' + getRoomById(8).doctor.surname}} 
   <br>
   Working Hours: {{getRoomById(8).workHour}}
   <br>
   <br>
   Equipments:
   <table>
    <tr>
      <td class="Headline">name</td>
      <td class="Headline">amount</td>
     </tr>
   </table>
   <table *ngFor='let equipment of getEquipmentByRoomId(8)' >
    <tr>
      <td>{{equipment.name}}</td>
      <td>{{equipment.amount}}</td>
    </tr>
   </table>
  </div>
  <div *ngIf="isShown2"  style="width:500px;height: 50px;border:5px solid #000;"  class="side-container">
  
    {{getRoomById(9).name}}
    <br>
    <br>
   Description: {{getRoomById(9).description}}
   <br>
   Doctor:{{getRoomById(9).doctor.name + ' ' + getRoomById(9).doctor.surname}} 
   <br>
   Working Hours: {{getRoomById(9).workHour}}
   <br>
   <br>
   Equipments:
   <table>
    <tr>
      <td class="Headline">name</td>
      <td class="Headline">amount</td>
     </tr>
   </table>
   <table *ngFor='let equipment of getEquipmentByRoomId(9)' >
    <tr>
      <td>{{equipment.name}}</td>
      <td>{{equipment.amount}}</td>
    </tr>
   </table>
  </div>

  <div *ngIf="isShown3"  style="width:500px;height: 50px;border:5px solid #000;"  class="side-container">
  
    {{getRoomById(10).name}}
    <br>
    <br>
   Description: {{getRoomById(10).description}}
   <br>
   Doctor:{{getRoomById(10).doctor.name + ' ' + getRoomById(10).doctor.surname}} 
   <br>
   Working Hours: {{getRoomById(10).workHour}}
   <br>
   <br>
   Equipments:
   <table>
    <tr>
      <td class="Headline">name</td>
      <td class="Headline">amount</td>
     </tr>
   </table>
    <table *ngFor='let equipment of getEquipmentByRoomId(10)' >
      <tr>
       <td>{{equipment.name}}</td>
       <td>{{equipment.amount}}</td>
     </tr>
    </table>
  </div>

  <div *ngIf="isShown4"  style="width:500px;height: 50px;border:5px solid #000;"  class="side-container">
  
    {{getRoomById(11).name}}
    <br>
    <br>
   Description: {{getRoomById(11).description}}
   <br>
   Doctor:{{getRoomById(11).doctor.name + ' ' + getRoomById(11).doctor.surname}} 
   <br>
   Working Hours: {{getRoomById(11).workHour}}
   <br>
   <br>
   Equipments:
   <table>
    <tr>
      <td class="Headline">name</td>
      <td class="Headline">amount</td>
     </tr>
   </table>
   <table *ngFor='let equipment of getEquipmentByRoomId(11)' >
    
    <tr>
      <td>{{equipment.name}}</td>
      <td>{{equipment.amount}}</td>
    </tr>
   </table>

  </div>
  <div *ngIf="isShown5"  style="width:500px;height: 50px;border:5px solid #000;"  class="side-container">
  
    {{getRoomById(12).name}}
    <br>
    <br>
   Description: {{getRoomById(12).description}}
   <br>
   Doctor:{{getRoomById(12).doctor.name + ' ' + getRoomById(12).doctor.surname}} 
   <br>
   Working Hours: {{getRoomById(12).workHour}}
   <br>
   <br>
   Equipments:
   <table>
    <tr>
      <td class="Headline">name</td>
      <td class="Headline">amount</td>
     </tr>
   </table>
   <table *ngFor='let equipment of getEquipmentByRoomId(12)' >
     
    <tr>
      <td>{{equipment.name}}</td>
      <td>{{equipment.amount}}</td>
    </tr>
   </table>
  </div>
 

  
</div>
