svg {
  display: block;
}

  
.rectClass:hover {
opacity:0.3;
cursor: pointer;
}

.allCont{
min-height: 100vh;
display: flex;

}

.main-container {
  float:center; 
  width: 60%;
  min-height: 100vh;
}
 