<app-tendering-navabar></app-tendering-navabar>

<div class="cards">

    <div class="card text-center" *ngFor='let tender of tenders; let i = index'>
        <div class="card-header">
            <b>{{tender.creationDate | date:'longDate'}}</b>
        </div>
        <div class="card-body">
            <div class="form-control">
                <label><b>Start date:</b></label>
                {{tender.startDate | date:'longDate'}}<br/>
                <label><b>End date:</b></label>
                {{tender.endDate | date:'longDate'}}
                <br>
                <ul>
                <br>
                <div *ngFor='let item of tender.tenderItems; let i = index' style="font-size:29px">
                    <li>
                    <label>{{item.name}}, {{item.quantity}}</label>
                    </li>
                                                      
                </div>
                </ul>
                <button style="font-size:28px" class="btn" (click)="ShowTenderOffers(tender.id)"><u>Show offers</u></button>  
                <br>
                <br>
                <br>
                <div *ngIf="showingTenderOffers">

                    <div *ngFor='let offer of selectedTenderOffers; let i = index'>

                        <label *ngIf="!closingTender" style="font-size:30px">Pharmacy : <b>{{offer.pharmacyName}}</b></label>
                        <button class="btn" *ngIf="closingTender"  style="font-size:30px" (click)="CloseTender(offer)"><b>{{offer.pharmacyName}}</b></button>
                        
                        <ul>
                        <div *ngFor='let it of offer.tenderOfferItems; let i = index'>
                            
                            <li>
                            <label>{{it.name}}: offered {{it.quantity}}, for the price of : {{it.price}} .  (Total: {{it.price*it.quantity}}) </label>

                            </li>                              
                        </div>
                        </ul>
                        <label style="font-size:21px">Total offer price is <u>{{TotalOfferPrize(offer)}}</u></label>
                        <br>
                        <br>
                    </div>
                
                    <button style="
                    background-color: lightskyblue; 
                    color: black;
                    font-size: x-large;
                    font-weight: bold;
                    opacity: 70%;" class = "btn" (click)="ClosingTender()" *ngIf="!closingTender">Close tender</button>  
                 <label *ngIf="closingTender">Click on pharmacy name that you want to choose! Or </label>
                 <button class = "btn" (click)="CancelClosingTender()" *ngIf="closingTender" style="font-size:22px">Cancel</button>  
                   
                </div>

            </div>
        </div> 
    <div>
    

</div>

