
<!-- header section starts  -->
<div>
    <app-navigation-bar >
    </app-navigation-bar>
</div>
<!-- header section ends  -->
    
    <!-- home section starts  -->
    
    <section class="home" id="home">
    
    <div class="container">
    
        <div class="row min-vh-100 align-items-center text-center text-md-left">
    
            <div class="col-md-6 pr-md-5">
                <img src="/assets/images/img_landing/Doctor-pana.svg" width="100%" alt="">
            </div>
    
            <div class="col-md-6 pl-md-5 content"  >
                <h1><span>Welcome</span> to Beyond Care.</h1>
                <h3>your health is our top priority</h3>
            </div>
    
        </div>
    
    </div>
    
    </section>
    
    
    <!-- home section ends -->
    
    <!-- about section start  -->
    
    <section class="about" id="about">
    
    <div class="container">
    
        <div class="row min-vh-100 align-items-center">
    
            <div class="col-md-6 content"   >
    
                <div class="box">
                    
                    <h3>  ambulance services </h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa, suscipit.</p>
                </div>
    
                <div class="box">
                    
                    <h3>  emergency rooms </h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa, suscipit.</p>
                </div>
    
                <div class="box">
                    <h3>  free check-ups </h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa, suscipit.</p>
                </div>
    
            </div>
    
            <div class="col-md-6 d-none d-md-block"  >
                <img src="/assets/images/img_landing/pexels-pixabay-40568.jpg" width="100%" alt="">
            </div>
    
        </div>
    
    </div>
    
    </section>
    
    <!-- about section ends -->

    <!-- review section starts  -->
    
    
    
    <!-- review section ends  -->
    
    <!-- footer section starts  -->
    
    <section class="footer">
    
        <div class="d-flex justify-content-center">
            <h3 class="text-center">created by <span>Firma 6 devs</span>  all rights reserved.</h3>
        </div>
    </section>
    
    <!-- footer section ends -->