
<div class="cards">

    <div *ngIf=" !commentModeOn" class="card text-center" >
        <div class="card-header2">
            <b>Pharmacy "{{pharmacy.pharmacyName}}"</b>
        </div>
        <div class="card-body">
            <label *ngIf="!editModeOn && !uploadModeOn"><b>Address:</b> {{pharmacy.address}}</label> <br/>
            <div *ngIf="editModeOn && !uploadModeOn"><b>Address:</b><input type="text" class="form-control" value="{{pharmacy.address}}" [(ngModel)]="pharmacy.address"></div>
            <label *ngIf="!editModeOn && !uploadModeOn"><b>City:</b> {{pharmacy.city}}</label> <br/>
            <div *ngIf="editModeOn && !uploadModeOn"><b>City:</b><input type="text" class="form-control" value="{{pharmacy.city}}" [(ngModel)]="pharmacy.city"></div> <br>
            <img *ngIf="!editModeOn" style="width: 250px; height:200px;" [src]="currentPharmacyImage">
            <!--input *ngIf="editModeOn" type="file" (change)="onFileSelected($event)"-->
            <button class="upload-btn" *ngIf="editModeOn && !uploadModeOn" (click)="changeUploadMode()">Upload new image</button>
            <app-upload-image *ngIf="uploadModeOn"></app-upload-image>
        </div>
        <div  *ngIf="!editModeOn && !uploadModeOn">
            <button class="btn" (click) = "changeEditMode()">EDIT</button>
        </div>
        <div  *ngIf="editModeOn && !uploadModeOn">
            <button class="btn" (click) = "editPharmacy()">SAVE</button> <br/> <br/>
            <button class="btn" (click) = "changeEditMode()">CANCEL</button>
        </div>
    </div>

    <div *ngIf="!editModeOn && !commentModeOn && !uploadModeOn" class="card text-center">
        <div class="card-header2">
            <b>Comments</b>
        </div>
        <div> <br>
            <button class="btn" (click) = "changeCommentMode()">ADD COMMENT</button> <br> <br>
        </div>
        <div class="card-body2" *ngFor='let comment of comments; let i = index'>
            <label><b>Date: </b>{{comment.commentDate | date:'short'}} <b>Content: </b>{{comment.content}}</label> 
        </div>
    </div>
    <div *ngIf="commentModeOn" class="card text-center">
        <div class="card-header2">
            <b>Add Comment</b>
        </div>
        <div class="card-body">
            <label><b>Content:</b></label>
            <textarea [(ngModel)]="commentContent" class="form-control" required></textarea>
        </div>
        <div> <br>
            <button class="btn" (click) = "addComment()">ADD</button> <br/> <br/>
            <button class="btn" (click) = "changeCommentMode()">CANCEL</button>
        </div>
    </div>
</div>

