<div class="patients">
    <div>
        <h1 style="text-align: center;">Patients</h1> <br><br>
    </div>
    <div>
        <table style="margin: 0px auto;">
                <table class="table">
                    <tr>
                        <th class="text-center">ID</th>
                        <th class="text-center">Name</th>
                        <th class="text-center">Surname</th>
                        <th class="text-center">Malicious</th>
                        <th class="text-center">Blocked</th>
                        <th class="text-center">Uradi block</th>
                    </tr>
                    <tbody>
                        <tr *ngFor="let patient of patients">
                                <td>{{patient.id}}</td>
                                <td>{{patient.name}}</td>
                                <td>{{patient.surname}}</td>                            
                                <td>{{patient.malicious}}</td>
                                <td>{{patient.blocked}}</td>
                                <ng-container *ngIf="patient.malicious == true && patient.blocked == false; else elseNotMalicious">
                                    <td><button type="button" (click)="onPatinetBlocked(patient)">Blokiraj</button></td>
                                </ng-container>
                                <ng-template #elseNotMalicious>
                                    <td><button type="button" (click)="onPatinetUnblocked(patient)">Odblokiraj</button></td>
                                </ng-template>
                        </tr>
                    </tbody>
                </table>
        </table>
    </div>
</div>