<div class="patients">
    <div>
        <h1 style="text-align: center;">Patients</h1> <br><br>
    </div>
    <div>
        <table style="margin: 0px auto;">
                <table class="table">
                    <tr>
                        <th class="text-center">ID</th>
                        <th class="text-center">Name</th>
                        <th class="text-center">Surname</th>
                        <th class="text-center">Malicious</th>
                        <th class="text-center">Blocked</th>
                        <th class="text-center">Uradi block</th>
                    </tr>
                    <tbody>
                        <tr *ngFor="let patient of patients">
                                <td>{{patient.Id}}</td>
                                <td>{{patient.Name}}</td>
                                <td>{{patient.Surname}}</td>                            
                                <td>{{patient.Malicious}}</td>
                                <td>{{patient.Blocked}}</td>
                                <ng-container *ngIf="patient.Malicious == true && patient.Blocked == false; else elseNotMalicious">
                                    <td><button type="button">Blokiraj</button></td>
                                </ng-container>
                                <ng-template #elseNotMalicious>
                                    <td></td>
                                </ng-template>
                        </tr>
                    </tbody>
                </table>
        </table>
    </div>
</div>